$color-orange: #f16718;
$color-light-orange: #ff9b62;
$color-dark-blue: #162542;
$color-blue: #7b8bad;
$color-light-blue: #e8eff2;
$color-white: #ffffff;

$font-family: "Barlow", sans-serif;
$heading-h1-size: 5.6rem;
$heading-h1-height: 1;
$heading-h2-size: 3.2rem;
$heading-h2-height: 3.6rem;
$heading-h3-size: 2.4rem;
$heading-h3-height: 2.8rem;
$body-font-size: 1.6rem;
$body-font-height: 2.6rem;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;

// || RESET

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $color-orange;
  color: $color-white;
}

html {
  font-size: 62.5%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: $font-weight-black;
  text-transform: uppercase;
}

h1 {
  font-size: $heading-h1-size;
  line-height: $heading-h1-height;
}

h2 {
  font-size: $heading-h2-size;
  line-height: $heading-h2-height;
}

h3 {
  font-size: $heading-h3-size;
  line-height: $heading-h3-height;
}

p {
  color: $color-blue;
  font-weight: $font-weight-medium;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

// || BUTTON

.button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1.6rem 2.7rem;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--primary {
    color: $color-white;
    background-color: $color-orange;

    &:hover {
      background-color: $color-light-orange;
    }
  }

  &--secondary {
    color: $color-dark-blue;
    background-color: $color-light-blue;

    &:hover {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }
}

// || GENERAL

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;

  font-family: $font-family;
  font-size: $body-font-size;
  line-height: $body-font-height;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

// || HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5.5rem 0 8.3rem 0;
}

// || HERO

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;

  &::after {
    content: url("../assets/images/shared/pattern-square.svg");
    position: absolute;
    top: 0;
    right: -3rem;
    width: 255px;
    height: 240px;
    transform: translateX(100%);
  }

  &__body {
    max-width: 445px;
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  &__button {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  &__release {
    color: $color-blue;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__image {
    max-width: 540px;
    border-radius: 20px;
    overflow: hidden;
  }
}

// || COMPATIBLE SECTION

.compatible-section {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16.8rem;

  &::after {
    content: url("../assets/images/shared/pattern-square.svg");
    position: absolute;
    bottom: 0;
    left: -3rem;
    width: 255px;
    height: 240px;
    transform: translateX(-100%);
  }

  &__image-1 {
    max-width: 255px;
    border-radius: 2rem;
    object-fit: cover;

    &-container {
      position: relative;

      &::after {
        content: "";
        border-radius: 2rem;
        background-color: $color-orange;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
      }
    }
  }

  &__image-2 {
    max-width: 445px;
    border-radius: 2rem;
    margin-left: 3rem;
    object-fit: cover;

    &-container {
      height: 100%;
    }
  }

  &__body {
    max-width: 255px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 2.7rem;
  }
}

// || FEATURES SECTION

.features-section {
  display: flex;
  gap: 3rem;
  margin-bottom: 12.8rem;
}

.feature {
  &__icon-container {
    width: 65px;
    height: 65px;
    background-color: $color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    margin-bottom: 4.8rem;
  }

  &__title {
    font-size: $heading-h3-size;
    line-height: $heading-h3-height;
    margin-bottom: 2.4rem;
  }
}

// || FOOTER

.footer {
  text-align: center;
  margin-bottom: 3.9rem;
}

// || MEDIA QUERIES

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 3.9rem;
  }
}

@media only screen and (max-width: 1000px) {
  $heading-h1-size: 4.8rem;

  h1 {
    font-size: $heading-h1-size;
  }

  .header {
    margin: 4rem 0 6.2rem 0;
  }

  .hero {
    gap: 6.9rem;
    min-height: 478px;

    &__button {
      gap: 3.7rem;
    }

    &__body {
      max-width: 340px;
    }

    &__image {
      position: absolute;
      right: -40%;
    }
  }

  .compatible-section {
    display: grid;
    grid-template-columns: 214px 1fr;
    grid-template-areas:
      "image-1 image-2"
      "body body";
    gap: 7.2rem 3rem;
    margin-bottom: 14.2rem;

    &__image-1 {
      max-width: 100%;
      height: 100%;

      &-container {
        height: 100%;
        grid-area: image-1;
      }
    }

    &__image-2 {
      max-width: 100%;
      height: 100%;
      grid-area: image-2;
      margin: 0;
    }

    &__body {
      grid-area: body;
      max-width: 100%;
      display: flex;
      gap: 10rem;
      align-items: center;
    }

    &__title {
      margin: 0;
    }
  }

  .features-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.9rem;
    margin-bottom: 14.2rem;
  }

  .footer {
    margin-bottom: 4.3rem;
  }
}

@media only screen and (max-width: 713px) {
  .hero {
    min-height: unset;
    flex-direction: column;
    gap: 6.4rem;
    margin-bottom: 2.4rem;

    &__image {
      position: relative;
      left: 0;
      max-width: 100%;
    }

    &__body {
      max-width: 100%;
    }

    &__title {
      margin-bottom: 3.2rem;
    }

    &__text {
      margin-bottom: 3.2rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0 2.4rem;
  }
  .button {
    padding: 1.1rem 1.45rem;
  }
  .header {
    margin: 2.3rem 0 6.4rem 0;
  }

  .hero {
    &__text {
      font-size: 1.6rem;
    }
  }

  .compatible-section {
    margin-bottom: 11.1rem;
    grid-template-columns: 1fr;
    grid-template-areas: "image-1" "image-2" "body";
    gap: 0;

    &__image-1 {
      height: initial;
      width: 100%;

      &-container {
        overflow: hidden;
        max-height: 200px;
        margin-bottom: 3rem;
      }
    }

    &__body {
      padding-top: 7.5rem;
      flex-direction: column;
      text-align: center;
      gap: 2.4rem;
    }
  }

  .features-section {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6.4rem;
    margin-bottom: 9.6rem;
  }

  .feature {
    &__icon {
      &-container {
        margin: 0 auto;
        margin-bottom: 4.8rem;
      }
    }
  }

  .footer {
    margin-bottom: 5rem;
  }
}
